  <%= form_for(@bio) do |f| %>
  <% if @bio.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@bio.errors.count, "error") %> prohibited this bio from being saved:</h2>

    <ul>
      <% @bio.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, :size => "80x10" %>
  </div>
  <br>

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <% end %>
  <br>