<%= form_for(@endorsee) do |f| %>
  <% if @endorsee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endorsee.errors.count, "error") %> prohibited this endorsee from being saved:</h2>

      <ul>
      <% @endorsee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :link, class:"mudatexto" %><br>
    <%= f.text_field :link, placeholder: "Cole o link aqui" %>
    <br>
    <br>
  </div>
  <div class="field">
    <%= f.label :image, class:"mudatexto" %><br>
    <%= f.file_field :image, :class => "mudatexto" %>
  </div>
  <div class="actions">
    <br>
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>
