<div class="container">
	<p id="notice"><%= notice %></p>

<p>
  <strong class= "mudatexto">Link:</strong>
  <%= @endorsee.link %>
</p>

<p>
	<strong class= "mudatexto">Imagem:</strong>
	<%= image_tag @endorsee.image_url(:thumb).to_s , {class: "img-responsive",style: "height: 200px;" } %>
</p>

<div class="btn-group">
	<%= link_to 'Editar', edit_endorsee_path(@endorsee), class: "btn btn-primary" %>
<%= link_to 'Voltar', endorsees_path, class: "btn btn-primary" %>

</div>
</div>