<div class="container">
<div class="row">
    <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div>
      <%= f.label :event_date %><br>
      <%= f.date_select :event_date %>
    </div>
    <div>
      <%= f.label :time %><br>
      <%= f.datetime_select :time %>
    </div>
    <div>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :place %><br>
      <%= f.text_field :place %>
    </div>
    <div>
      <%= f.label :more_information %><br>
      <%= f.text_field :more_information %>
    </div>
    <div class="actions">
    <br>
      <%= f.submit class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>