<div class="container">
  <div class="row">
    <div class="col-md-offset-8 col-md-4">
      <% @events.each do |event| %>
      <%= event.event_date %>-<%= event.name %>//<%= event.time %>//<%= event.place %>
      <div class="btn-group">
       <%= link_to 'Show', event, class: "btn btn-primary" %>
       <%= link_to 'Edit', edit_event_path(event), class: "btn btn-primary" %>
       <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
     </div>
     <% end %>

    <br>

    <div class="col-md-offset-4">
      <br>
      <%= link_to 'Novo Evento', new_event_path, class: "btn btn-primary" %>
    </div>

  </div>

</div>
</div>