<div class="container">
  <div class="row">
    <%= form_for(@contact) do |f| %>
    <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <%= f.text_field :name, :class => "ficatransparente colocaborda mudatexto", placeholder: "NOME", :size => 80 %>
    </div>
    <br>
    <div class="field">
      <%= f.text_field :email, :class => "ficatransparente colocaborda mudatexto", placeholder: "EMAIL", :size => 80 %>
    </div>
    <br>
    <div class="field">
      <%= f.text_area :message, :class => "ficatransparente colocaborda mudatexto", placeholder: "MENSAGEM", :rows => 8, :cols => 63 %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary"%>
    </div>
    <% end %>
  </div>
</div>