<div class="container">
	<div class="row">
		<div class="col-md-6 colocaborda mudatexto">
			
			<center>
				<div class="col-md-12">
					<br>
				</div>
				<div class="col-md-12">
					<%= image_tag("facebook.png") %>
					<%= image_tag("Instagran.png") %>
					<%= image_tag("SoundCloud.png") %>
				</div>
				<div class="col-md-12">
					<br>
				</div>
				<div class="col-md-12">
					produzacriatividade.com.br
				</div>
				<br>
				<br>
				<div class="col-md-12">
					+559181807211/81392779
				</div>
				<div class="col-md-12">
					3038.0225
				</div>
				<br>
				<div class="col-md-12">
					tiagobelem1@gmail.com
					<br>
					produzacriatividade@gmail.com
				</div>
				<div class="col-md-12">
					<br>
				</div>

				<div class="col-md-12">
					Av. Marquês de Herval, 881
				</div>
				<div class="col-md-12">
					Ed. Rio Ganges, 602
				</div>
				<div class="col-md-12">
					Pedreira/66085.313
				</div>
				<div class="col-md-12">
					<br>
				</div>
				<div class="col-md-12">
					Belém/Pará/Brasil
				</div>
				<div class="col-md-12">
					<br>
				</div>
			</center>

		</div>
		<div class="col-md-6">
			<%= render 'form' %>
			<%if false %>
			<%= link_to 'Back', contacts_path %>
			<% end %>
		</div>
	</div>
</div>