<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="col-md-12">
        <%= link_to ' Voltar', midia_path, class: "branco btn btn-primary glyphicon glyphicon-arrow-left"  %>
        <br><br>
      </div>
      <div class="row">
        <% @galleries.each do |gallery| %>
        <div class="col-md-4 col-sm-6">
          <div class="thumbnail">
            <p class="deixabranco pull-right">Fotos: <%= gallery.photos.size %></p>
            <%= link_to ((image_tag (gallery.photos.first.image_url ))), gallery %>

            <div class="caption" style="word-break: break-all">

              <h3>
                <td><p class="deixabranco"><%= gallery.name %></p></td>
              </h3>
              <p class="deixabranco"><%= gallery.content %></p>
              <%= link_to 'Ver Mais', gallery, class: "branco btn btn-primary col-xs-12", role: :button %>
              <br>
              <br>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>