<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>

<div id="photos">
  <% for photo in @gallery.photos %>
    <div class="photos">
      <%= image_tag photo.image_url(:thumb).to_s if photo.image? %>
      <div class="name"><a href="photos/1.jpg" data-gallery="hongkong" title="Lion Rock"><%= photo.name %></a></div>
     
        <%= link_to "edit", edit_photo_path(photo) %> |
        <%= link_to "remove", photo, :method => :delete, data: {:confirm => 'Are you sure?'} %>
      
    </div>
  <% end %>
  <div class="clear"></div>
</div>
<%= link_to "Add a photo", new_photo_path(:gallery_id => @gallery) %> |
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
