<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Tiago Belem Oficial</title>

	<%= stylesheet_link_tag    "application", media: "all" %>

	<%= javascript_include_tag 'application' %>
	
	<%= csrf_meta_tags %>


</head>


<body class="<%= ('backhome' if params[:controller] == 'welcome') || ('backbio' if params[:controller] == 'bios') || ('backcont' if params[:controller] == 'contacts') || ('backmusica' if params[:controller] == 'musics') || ('backmidia' if params[:controller] == 'midia') || ('backmidia' if params[:controller] == 'galleries') || ('backagenda' if params[:controller] == 'events') || ('backmidia' if params[:controller] == 'photos') || ('backend' if params[:controller] == 'endorsees') || ('backmidia' if params[:controller] == 'movies')%>">



	
	<div class="container-navbar">
		<a id="iconeesp" href="https://www.facebook.com/TiagoBelemOficial"><%= image_tag("facebook.png") %></a>
		<a id="iconeesp" href="https://www.facebook.com/TiagoBelemOficial"><%= image_tag("Instagran.png") %></a>
		<a href="https://www.facebook.com/TiagoBelemOficial"><%= image_tag("SoundCloud.png") %></a>

		<nav class="navbar navbar-right " role="navigation">

			
			<ul class="nav navbar-nav">
				<li class="<%= 'active' if params[:controller] == 'welcome' %>" ><a href="/">HOME</a></li>
				<li class="<%= 'active' if params[:controller] == 'bios' %>"><a href="/bios/home">BIO</a></li>
				<li class="<%= 'active' if params[:controller] == 'events' %>"><a href="/events">AGENDA</a></li>
				<li class="<%= 'active' if params[:controller] == 'musics' %>"><a href="/musics">MÚSICA</a></li>
				<li class="<%= 'active' if params[:controller] == 'endorsees' %>"><a href="/endorsees/home">ENDORSEE</a></li>
				<li><a href="/midia">MÍDIA</a></li>
				<li class="<%= 'active' if params[:controller] == 'contacts' %>"><a href="/contacts/new">CONTATO</a></li>
			</ul>
			
		</nav>

	</div>
	
	
	<div class="content">
		<br>
		<br>
		<br>
		<%= yield %>
	</div>
	

</div>





</body>
</html>
